@model IEnumerable<PCartWeb.Models.CoopAdminDetailsModel>

@{
    ViewBag.Title = "Pending Co-op Admin Application";
}

<head>
    <link href="~/Content/css/customStyle.css" rel="stylesheet" />
    <style>
        h4 {
            color: white;
        }
    </style>
</head>

<div class="container custom-form-1 custom-container">
    <div class="form-horizontal">
        <h4 class="w-100 bg-dark py-3 text-center">Co-op Admin Applications</h4>
        <hr />

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $.getJSON("../Admin/LoadPendingCoopAdmin",
                    function (data) {
                        var tr;

                        for (var i = 0; i < data.length; i++) {
                            tr = $('<tr/>');
                            tr.append("<td>" + data[i].firstname + "</td>");
                            tr.append("<td>" + data[i].lastname + "</td>");
                            tr.append("<td>" + data[i].contact + "</td>");
                            tr.append("<td>" + data[i].address + "</td>");
                            tr.append("<td>" + data[i].email + "</td>");
                            tr.append("<td>" + data[i].dateCreated + "</td>");
                            tr.append("<td>" + '<a href="@Url.Action("PendingAccntDetails", "Admin")?id=' + data[i].coopAdminId + '">Details</a>' + "</td>");
                            $('.table').append(tr);
                        }

                        $('#pendingCoopAdmin').DataTable();
                    }
                );
            });
        </script>

        <div class="table-responsive table-hover">
            <table id="pendingCoopAdmin" class="table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Contact No.</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Date Applied</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
