
@{
    ViewBag.Title = "FailureView";
}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Payment
        </div>
        <div class="card-body">
            <h5 class="card-title">Your payment was failed</h5>
            <p class="card-text">Something went wrong.</p>
        </div>
        <div class="card-footer text-muted">
            Recently
        </div>
    </div>
</div>