
@{
    ViewBag.Title = "SuccessView";
}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Payment
        </div>
        <div class="card-body">
            <h5 class="card-title">Payment Success</h5>
            <p class="card-text">You have successfully paid your fees. Thank you</p>
            <a href="@Url.Action("Index","Coopadmin")" class="btn btn-primary">Back to Home</a>
        </div>
        <div class="card-footer text-muted">
            Recently
        </div>
    </div>
</div>

